        
@import url("https://use.typekit.net/nex5pgb.css");
html{
    font-family: good-times, sans-serif;
    font-weight: 700;
    font-style: normal;;
    background-color: #0D0D0D;
    color: #eaf205
}   
hr{
    height: 3px;
    background-color:#eaf205;
    border: none;
}
h1{
    font-size: large;
}
th{
    font-size:x-large;
}